body{
    /* background-color: #ff0000;  */
}
p{
    font-size : 300%  ;
    background-color : powderblue ;
    border : solid 2px #ccc; 
    font-family: verdana , 'Courier New', Courier, monospace;
}